@import "~normalize.css";

@import "_variables";

body {
  background: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-attachment: scroll;
}


.header {
  min-height: 60px;
  top: 0;
  width: 100%
}

.main__heading {
  padding: 16px;
  margin: 20px 20px 20px 20px
}

.week-summary {
  border-color: #9797a7;
  border-style: solid;
  margin: 3px;
  &__title {
    color: rgb(248, 244, 7);
  }
}

.week-summary__title::before {
  content: "";
  background: black;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin: 0 10px 0 10px;
}

h2 {
  color: #1460aa;
}
p {
  color: rgb(87, 47, 1);
}

nav a {
  text-decoration: none;
  display: block;
  margin: 0 0 16px;
  color: red;
 }

.navigation {
  display: none;
  margin: 0 0 16px;
}

.navigation--open {
  display: block;
}

.hamburger {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: none;
}


footer a {
  color: #551212;
}


.main {
max-width: 100%;
min-height: 60px;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.about__picture {
  display: block;
  max-width: 100%;
  transform: rotate(-5deg);
  margin: 20px 20px 20px 60px;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: rotate(5deg) scale(1.1)
  }

}

.garden__picture {
  display: block;
  max-width: 100%;
    }


@media screen and (min-width: 600px) {

  .main {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.navigation {
  background: rgb(128, 175, 128);
  width: 100%;
  height: 0;
  padding: 20px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation__link {
  color: rgb(247, 71, 2);
  display: inline-block;
  margin: 16px 16px 16px 16px;
  transition: color 2s linear, transform 1s ease-in-out;
  &:hover {
  color: blue;
  transform: scale(1.5) rotate(40deg);
}
}

.main__heading {
  padding: 16px;
}

.hamburger {
  display: none;
}

.about {
  grid-column-start: 1;
  grid-column-end: 2;
}

.aside {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.week {
  grid-column-start: 1;
  grid-column-end: 2;
}

}
